<div id="<%= dom_id person %>">
  <p>
    <strong>Firstname:</strong>
    <%= person.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= person.lastname %>
  </p>

  <p>
    <strong>Groupname:</strong>
    <%= person.groupname %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= person.role %>
  </p>

</div>
